<div class="ai-review">
    <div class="ai-review__title">Ai Review</div>
    <div class="ai-review__container">
        <div class="ai-review__item">
            <div class="ai-review__item-title">Accessibility</div>
            <div class="ai-review__content -high">
                <div class="ai-review__data">
                    <div class="ai-review__chip">High</div>
                    <span>Missing &lt;alt&gt; attribute for image tag </span>
                </div>
                <div class="ai-review__code"></div>
            </div>
        </div>
    </div>
</div>
